apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s

    scrape_configs:
      # Scrape node-app directly using the service endpoint
      - job_name: 'node-app'
        static_configs:
          - targets: ['node-app-service:3000']
        metrics_path: /metrics
